cloud/terraform/terraform.tfstate
logs/pipeline_2025-06-23.log
cloud/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.40.0/darwin_arm64/terraform-provider-google_v6.40.0_x5
cloud/terraform/.terraform.lock.hcl
cloud/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.40.0/darwin_arm64/LICENSE.txt
.github/.DS_Store
.idea/vcs.xml
